# Tests
pylint
pytest
pytest-cov

# Utilities
tqdm
boto3==1.13.12
pyyaml
dicttoxml
xmltodict
PyGithub

# plotting
matplotlib

# Data
numpy
pandas
scipy

# Computer Vision
Pillow
opencv-python==4.2.0.34

# For Tag s3 upload
python-dotenv
